form.search {
  overflow: auto;
  margin-bottom: 10px;
  width: 100%;
}


label {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.form-control {
  float: left;
  display: block;
  margin-bottom: 20px;
}

form.search button[type="submit"] {
  float: right;
  margin-top: 20px;
}

#search {
  line-height: 25px;
  margin-bottom: 15px;
  width: 95%;

}

button {
  height: 40px;
  width: 70px;
  background-color: #8df;
  font-weight: bold;
  float: right;
  margin-right: 100px;
}

hr {
  width: 80%;
  margin-top: 100px;
  position: center;
  margin-bottom: 25px;

}

#search-results-subheader {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}


