nav.navbar.navbar-default {
    margin: 0 auto;
}

.navbar-nav {
  width: 100%;
  line-height: 40px;
  float: left;
  margin: 0 0 48px 0;
  padding: 10px;
  list-style: none;
  background-color: black;
  border-bottom: 2px solid #0bf;
  border-top: 2px solid #0bf;
}

li {
  margin-right: 20px;
  font-size: 18px;
}

ul li {
  float: left;
}

.navbar-brand .nav-link .nav-link-active {
  color: white;
}

.nav-link {
  text-decoration: none;
}

.navbar-brand {
  text-decoration: none;
}

